.half {
  display: inline-block;
  width: 50%;
  padding-right: .5rem;
}

.right {
  padding-left: .5rem;
  padding-right: 0;
}

.button {
  text-align: center;
}

.helper {
  margin-top: -1.1rem;
  // margin-left: 1rem;
  font-size: 1.2rem;
}
