.container {
  position: relative;
}

.title {
  border-bottom: 1px solid gray;
  padding: 0 .5rem .5rem;
  display: inline-block;
}

.subTitle {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
  top: -1.2rem;
  font-style: oblique;
  color: lightgray;
}
